.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76%;
    background: linear-gradient(to top,rgb(38, 36, 46),rgb(135, 158, 153),rgb(209, 226, 219),rgb(209, 226, 219), rgb(230, 225, 225));
    padding-bottom: 100px;
}
.article-educacion{
    background-image: url("/assets/img/fondo-hoja.PNG");
    width: 250px;
    max-height: 350px;
    padding: 40px 20px;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(19, 18, 18, 0.534);

}
.apartado{
    min-width: 200px;
    margin: 0px 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4{
    font-family: "Homemade Apple", cursive;
    font-size: 20px;    
}
h4::first-letter{
    font-size: 30px;
}
ul{
    list-style-type: none;
}
.margin{
    animation-name: margin-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    
}
@keyframes margin-animation {
    0%{
        margin-left: 310px;
    }60%{
        margin-left: 310px;
    }61%{
        margin-left: -230px;
    }99%{
        margin-left: -230px;
    }100%{
        margin-left: 310px;
    }
}