* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html, body {
    height: 100vh;
    margin:0;
  }
body{
    background-color:rgb(38, 36, 46) ;
    color: rgb(27, 27, 27);
    margin: 0;    
    font-family: "Work Sans", sans-serif;
    
}
.container{
    display: flex; 
    justify-content: space-between;   
    padding: 10px;
    background-color: rgb(112, 112, 112);  
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-image: url("/assets/img/TEXTURA2.png");
    background-blend-mode:hard-light;
    background-size: cover;
    
}
.avatar{
    
    border-radius: 30% 0px 0px;
    
}
h1{
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    word-spacing: 0.7em;
    line-height: 2em;
    color: antiquewhite;
    margin: 10px 10px 0px 20px;
}

h3{
    color: antiquewhite;
    margin: 10px 10px 0px 20px;
    
    
    border-radius: 4px;
    padding: 5px;
    box-shadow: -2px -3px 1px 1px rgba(71, 201, 110, 0.644);
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    
    
}

h1::first-letter{
    font-size: 35px;
}
.mayus{
    font-size: 35px;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:flex-end ;
    margin: 0;
    text-align: end;
    
    
}
.ul{
    position: absolute;
    left: 2px;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;     
    list-style-type: none;
    margin:5px;
    border-radius: 0px 0px 30px;
    padding: 5px 0px 25px ;     
    box-shadow: 5px 5px 1px 1px rgba(71, 201, 110, 0.644);
    background-color: rgb(94, 131, 120);
    max-width: 75px;
    height: 300px;
    
}

@media (max-width: 500px) {
    
    .ul{
        position: fixed;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 350px;
        min-width: 330px;
        height: auto;
        padding: 0px 25px 0px 0px;
        bottom: 80px;
        left: 0;
        margin: 0px 5px 5px 5px;
        border-radius: 0px 30px 0px 0px;
        box-shadow: 3px -3px 1px 1px rgb(71, 201, 110, 0.644);
    }
    .li{
        width: auto;
        height: 100%;
        
    }
    .footer{
        max-height: 50px;
    }
    h1::first-letter{
        font-size: 25px;
    }
    .mayus{
        font-size: 25px;
    }
    h1{
        font-size: 15px;
        text-align: end;
    }
    h3{
        font-size: 12px;
    }
    
}
/* @media (max-width: 350px) {
    .ul{
        flex-direction: row;
        justify-content: flex-start;
        width: 300px;
        height: 50px;
        padding: 0px 25px 0px 0px;
        bottom: 83px;

        
    }
    .li{
        width: auto;
        height: 100%;
    }
} */

.li:hover:not(.active){
    /* background-color: rgb(56, 48, 99); */
    
    scale: 1.1;
    
}
.li{
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 5px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    color: antiquewhite;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    
}
span{
    align-self: center;
}
h6{
    margin: 0;
}
.active{
    background-color:rgb(38, 36, 46) ;
    
    
}
.footer{
    position: fixed;
    bottom: 0;
    background-color:rgb(38, 36, 46) ;
    color: antiquewhite;    
    padding: 20px;
    font-size: 10px;
    width: 100vw;
    height: auto;
    min-height: 75px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-blend-mode:darken;
}
.homemade {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    word-spacing: 0.7em;
    line-height: 2em;
    margin-top: 15px;
  }
.work-sans{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
  }
 


